.g-project-view(class="g-project-view_closed" data-project-view="mailer")
  .g-project-view-win
    a.g-project-view-close(href="#close-view")
      svg.g-project-view-close__icn
        use(xlink:href=getSvgIcon("cross"))
          
      span.g-project-view-close__key Esc
      
    .g-project-view-gal
      .g-project-view-gal-images
        img(src="assets/img/content/projects/mailer/1.png" alt="")
        img(src="assets/img/content/projects/mailer/2.png" alt="")
        img(src="assets/img/content/projects/mailer/3.png" alt="")
        img(src="assets/img/content/projects/mailer/4.png" alt="")
        img(src="assets/img/content/projects/mailer/5.png" alt="")
          
      div(class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls")
        div(class="slides")
        a(class="prev") ‹
        a(class="next") ›
        a(class="play-pause")
      
    .g-project-view-cont
      h2.g-project-view__title Mailer - SPA Angular application
      
      p.g-project-view__desc <em>The goal</em> is to develop basic functional interface for mail app.
      
      .g-project-view-tech
        h3.g-project-view-tech__title Technologies:
        
        ul.g-project-view-tech-lst
          li.g-project-view-tech-itm
            span.g-project-view-tech-itm__key Backend:
            p.g-project-view-tech-itm__val
              span Node.js
              span Koa
              span Passport.js

          li.g-project-view-tech-itm
            span.g-project-view-tech-itm__key DB:
            p.g-project-view-tech-itm__val
              span NoSQL (MongoDB + ODM)

          li.g-project-view-tech-itm
            span.g-project-view-tech-itm__key Frontend:
            p.g-project-view-tech-itm__val
              span pre/post processors
              span templating engine
              span build tools
              
          li.g-project-view-tech-itm
            span.g-project-view-tech-itm__key JS frameworks:
            p.g-project-view-tech-itm__val
              span Angular1
              
          li.g-project-view-tech-itm
            span.g-project-view-tech-itm__key Testing:
            p.g-project-view-tech-itm__val
              span Unit
              span API
              
          li.g-project-view-tech-itm
            span.g-project-view-tech-itm__key VCS:
            p.g-project-view-tech-itm__val
              span git
              
          li.g-project-view-tech-itm
            span.g-project-view-tech-itm__key CI:
            p.g-project-view-tech-itm__val
              span travis
              
          li.g-project-view-tech-itm
            span.g-project-view-tech-itm__key Deployment:
            p.g-project-view-tech-itm__val
              span Heroku
          
      p.g-project-view__link <strong>Sources</strong>: <a target="_blank" href="https://github.com/selkinvitaly/mailer">github.com</a>
