html
  font: $font-weight-base $font-size-base/$line-height-base $font-family-base
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background-color: $bg-body
  color: $color-body
