@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: normal
  src: local("Raleway-Light"),
       url("../../assets/fonts/Raleway/Raleway-Light.woff2") format("woff2"),
       url("../../assets/fonts/Raleway/Raleway-Light.woff") format("woff");

 @font-face
   font-family: "Raleway"
   font-style: italic
   font-weight: 300
   src: local("Raleway-Light-Italic"),
        url("../../assets/fonts/Raleway/Raleway-Light-Italic.woff2") format("woff2"),
        url("../../assets/fonts/Raleway/Raleway-Light-Italic.woff") format("woff");

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: normal
  src: local("Raleway-Regular"),
       url("../../assets/fonts/Raleway/Raleway-Regular.woff2") format("woff2"),
       url("../../assets/fonts/Raleway/Raleway-Regular.woff") format("woff");

@font-face
 font-family: "Raleway"
 font-style: italic
 font-weight: normal
 src: local("Raleway-Regular-Italic"),
      url("../../assets/fonts/Raleway/Raleway-Regular-Italic.woff2") format("woff2"),
      url("../../assets/fonts/Raleway/Raleway-Regular-Italic.woff") format("woff");

@font-face
 font-family: "Raleway"
 font-style: normal
 font-weight: bold
 src: local("Raleway-Bold"),
      url("../../assets/fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
      url("../../assets/fonts/Raleway/Raleway-Bold.woff") format("woff");

@font-face
 font-family: "Raleway"
 font-style: italic
 font-weight: bold
 src: local("Raleway-Bold-Italic"),
      url("../../assets/fonts/Raleway/Raleway-Bold-Italic.woff2") format("woff2"),
      url("../../assets/fonts/Raleway/Raleway-Bold-Italic.woff") format("woff");
