/* Fonts */
$font-family-base = "Raleway", "Roboto", "Open Sans", Arial, Tahoma, Helvetica, sans-serif
$font-size-base   = 16px
$font-weight-base = normal
$line-height-base = 1.4

/* Width */
$w-main-middle = 1700px

/* Colors */
$color-body = #000
$bg-body    = #fff

/* z-index */
$z-top-nav = 999
$z-view-project = 9999
