.g-education
  base-section()

  &-lst
    list-style: none
    display: block

  &-itm
    border-bottom: 1px dashed #ccc
    padding-bottom: (10/16)rem
    margin-bottom: (10/16)rem

    &__name
      font-weight: bold

    &__years
      color: #666
      font-size: (14/16)rem
