.g-footer
  background-color: #1a1a1a
  color: #566070
  text-align: center
  padding: (13/16)rem 0

  &_copy
    line-height: 1
    font-size: (17/16)rem

  &__sources
    font-size: (10/16)rem
    line-height: 1

    a
      color: #999
      text-decoration: underline

      &:hover
        text-decoration: none
