.g-footer
  background-color: #1a1a1a
  color: #566070
  text-align: center
  padding: (13/16)rem

  &_copy
    line-height: 1
    font-size: (17/16)rem

  &__sources
  &__recaptcha
    font-size: (10/16)rem
    line-height: 1

    a
      color: #999
      text-decoration: underline

      &:hover
        text-decoration: none

  &__recaptcha
    margin-top: (6/16)rem
