.g-skills
  background-color: #f6f6f6

  base-section()

  &-lst
    display: block

  &-itm
    display: table
    width: 100%
    margin-bottom: (2/16)rem

    &__key
      display: table-cell
      vertical-align: top
      font-weight: bold
      width: (110/16)rem

    &__val
      display: table-cell
      vertical-align: top

      span
        display: inline-block
        vertical-align: middle
        margin-right: (7/16)rem
        border: 1px solid #ccc
        background-color: #fff
        padding: 0 (7/16)rem
        border-radius: 5px
