.g-study
  background-color: #f6f6f6

  base-section()

  &-cont
    font-size: 0

  &-courses
  &-books
    display: inline-block
    vertical-align: top
    width: 50%
    font-size: 1rem

    &__title
      font-size: (24/16)rem
      line-height: 1
      font-weight: bold
      margin-bottom: (20/16)rem

    &-lst
      list-style-position: inside

    &-itm
      list-style: none
      padding: (3/16)rem (10/16)rem
      font-style: italic

      &:nth-child(odd)
        background-color: #fff

  &-courses
    padding-right: 20px

  &-books
    padding-left: 20px
