.g-works
  background-color: #f6f6f6
  base-section()

  &-lst
    list-style: none
    display: block

  &-itm
    border-bottom: 1px dashed #ccc
    padding-bottom: (10/16)rem
    margin-bottom: (10/16)rem

    &__job
      font-weight: bold

    &__time
      color: #666
      font-size: (14/16)rem
