@require "globals/variables"
@require "helpers/mixins"

@require "blocks/top-nav"
@require "blocks/adaptive-nav"
@require "blocks/welcome"
@require "blocks/about-me"
@require "blocks/skills"
@require "blocks/education"
@require "blocks/study"
@require "blocks/works"
@require "blocks/projects"
@require "blocks/project-view"
@require "blocks/contacts"
@require "blocks/footer"
