@media (max-width: (1100/16)rem)

  .g-about-me
    &-layout
      display: block

    &-desc
    &-pic
      display: block
      width: 100%

    &-desc
      padding-right: 0

    &-ava
      &__img
        margin: 0 auto

  .g-projects
    &-cell
      width: (100 / 3)%

  .g-project-view
    padding-left: (20/16)rem
    padding-right: @padding-left

    &-close
      top: (10/16)rem
      right: (10/16)rem

    &-gal
      padding-left: (20/16)rem
      padding-right: @padding-left

@media (max-width: (768/16)rem)

  .g-top-nav-menu
    display: none

  .g-hum-open
    display: block

  .g-welcome
    &-display
      &__title
        font-size: (36/16)rem
        margin-bottom: 1rem

      &__desc
        font-size: (16/16)rem
        line-height: 1.3
        margin-bottom: (35/16)rem
        letter-spacing: -0.3px

  .g-study
    &-courses
    &-books
      display: block
      width: 100%
      padding-right: 0
      padding-left: 0

    &-courses
      margin-bottom: (20/16)rem

  .g-projects
    &-cell
      width: 50%

  .g-contacts
    &-form
      width: 100%

@media (max-width: (400/16)rem)

  .g-about-me
    &-ava
      &__img
        display: none

  .g-skills
    &-itm
      display: block
      margin-bottom: 1rem

      &__key
        display: block
        width: 100%
        margin-bottom: (5/16)rem

      &__val
        display: block

        span
          margin-bottom: (7/16)rem

  .g-projects
    &-cell
      width: 100%

  .g-project-view
    padding: 0

    &-gal
      padding-left: (20/16)rem
      padding-right: @padding-left

    &-win
      box-shadow: none

    &-tech
      &-itm
        display: block

        &__key
          display: block
          width: 100%
          margin-bottom: (5/16)rem

        &__val
          display: block

          span
            margin-bottom: (7/16)rem
