section.g-about-me(data-goto-area="about")
  .g-main-middle
    .g-about-me-layout
      .g-about-me-desc
        h2.g-about-me__title About me

        .g-about-me__content
          p Hi! I'm Selkin Vitaly. I'm a software developer with over 5 years of experience with JS technologies. I believe that team and product are the most important criteria for success. I know what underestimated tasks, legacy code, team building, interviewing candidates are, because I have experience in the position of team leader.

          p I think many things can be automated for the team to work more effectively. Therefore, I always look for ways to improve. I don't like phrase <i>'impossible'</i>, but prefer <i>'we will try'</i>. I'm not afraid to make mistakes, because I think that the most important thing is to correct mistakes quickly.

          p In my free time I'm interested in other technologies.

      .g-about-me-pic
        p.g-about-me-ava
          img.g-about-me-ava__img(src="assets/img/main/avatar.jpg" alt="Selkin photo")
