section.g-about-me(data-goto-area="about")
  .g-main-middle
    .g-about-me-layout
      .g-about-me-desc
        h2.g-about-me__title About me

        .g-about-me__content
          p Hi! I am Selkin Vitaly. I am a programmer with 3 years of IT experience primarily in Javascript technologies. Initially I used <abbr title="Linux, Apache, MySQL, PHP">LAMP</abbr> stack, but now actively use <abbr title="Koa, Angular, MongoDB, Node.js">KOAN</abbr> stack in web development.

          p I have experience developing complex interface (for a dating service) and <abbr title="Single Page Application">SPA</abbr> applications (<strong>Angular</strong> + <strong>Node.js</strong>). Also I have all the necessary skills, including working with build tools (<strong>Gulp</strong>, <strong>Webpack</strong> etc.), writing tests (<em>Unit</em>, <em>test API</em>, <em>functional tests</em>), CI (<em>Travis</em>, <em>Jenkins</em>), writing API, using VCS (<strong>git</strong>) and working with DB (<strong>NoSQL</strong> and <em>relational DB</em>).

          p My primary programming language is Javascript, so I well know the modern standard <abbr title="EcmaScript">ES</abbr> and patterns for this language (<em>promises</em>, <em>generators</em>, <em>async patterns</em>, etc).

      .g-about-me-pic
        p.g-about-me-ava
          img.g-about-me-ava__img(src="assets/img/main/avatar.jpg" alt="Selkin photo")
