section.g-about-me(data-goto-area="about")
  .g-main-middle
    .g-about-me-layout
      .g-about-me-desc
        h2.g-about-me__title About me

        .g-about-me__content
          p Hi! I'm Selkin Vitaly. I'm a software developer with over 5 years of experience with JS technologies. I <i>believe</i> that <b>team</b> and <b>product</b> are the most important criteria for success. I know what is <i>underestimated tasks</i>, tons of legacy, <i>team building</i>, <i>interviewing candidates</i>, because I have experience in position of <b>team leader</b>.

          p I <i>think</i> many things <i>can be automated</i> for the team to work <b>more effectively</b>. Therefore, I always look for ways to improve. I don't like phrase <i>'impossible'</i>, but prefer <i>'we will try'</i>. I'm not afraid to make mistakes, because I think that the main thing is <b>correct your mistakes</b> quickly.

          p In my free time I'm interested in other technologies.

      .g-about-me-pic
        p.g-about-me-ava
          img.g-about-me-ava__img(src="assets/img/main/avatar.jpg" alt="Selkin photo")
