nav.g-adaptive-nav(class="g-adaptive-nav_closed")
  .g-main-middle(class="g-main-middle_relative")
    menu.g-adaptive-nav-lst
      li.g-adaptive-nav-itm
        a.g-adaptive-nav-itm__lnk(data-goto-link="about" href="#about") About me

      li.g-adaptive-nav-itm
        a.g-adaptive-nav-itm__lnk(data-goto-link="education" href="#education") Education

      li.g-adaptive-nav-itm
        a.g-adaptive-nav-itm__lnk(data-goto-link="experience" href="#experience") Experience

      li.g-adaptive-nav-itm
        a.g-adaptive-nav-itm__lnk(data-goto-link="contacts" href="#contacts") Contact me

    a.g-adaptive-nav-close(href="#close_menu")
      svg.g-adaptive-nav-close__icn
        use(xlink:href=getSvgIcon("cross"))
