section.g-skills
  .g-main-middle
    h2.g-skills__title Skills

    ul.g-skills-lst
      li.g-skills-itm
        span.g-skills-itm__key Languages:
        p.g-skills-itm__val
          span Node.js
          span Javascript (ES5, ES2015)

      li.g-skills-itm
        span.g-skills-itm__key Server-side:
        p.g-skills-itm__val
          span Koa
          span Express

      li.g-skills-itm
        span.g-skills-itm__key DB/NoSQL:
        p.g-skills-itm__val
          span MongoDB
          span Redis
          span MySQL

      li.g-skills-itm
        span.g-skills-itm__key Web:
        p.g-skills-itm__val
          span HTML
          span CSS
          span JS
          span REST
          span Ajax

      li.g-skills-itm
        span.g-skills-itm__key Frameworks:
        p.g-skills-itm__val
          span Angular1 (primary)
          span React/Flux/Redux

      li.g-skills-itm
        span.g-skills-itm__key VSC:
        p.g-skills-itm__val
          span git

      li.g-skills-itm
        span.g-skills-itm__key Build tools:
        p.g-skills-itm__val
          span Webpack
          span Gulp
          span Babel
          span post/pre processors

      li.g-skills-itm
        span.g-skills-itm__key CI:
        p.g-skills-itm__val
          span Jenkins

      li.g-skills-itm
        span.g-skills-itm__key Testing:
        p.g-skills-itm__val
          span Unit
          span Functional
          span testing API

      li.g-skills-itm
        span.g-skills-itm__key Deployment:
        p.g-skills-itm__val
          span Linux Debian
          span VPS
          span PaaS (Heroku, mLab)
          span BaaS (parse.com)
