section.g-skills
  .g-main-middle
    .g-skills-container
      h2.g-skills__title Soft skills / Personal skills
      ul.g-skills-lst
        li.g-skills-itm
          span.g-skills-itm__key.g-skills-itm__key_personal Team player:
          p.g-skills-itm__val
            span Team decides everything

        li.g-skills-itm
          span.g-skills-itm__key.g-skills-itm__key_personal Leadership:
          p.g-skills-itm__val
            span I like to take initiative

        li.g-skills-itm
          span.g-skills-itm__key.g-skills-itm__key_personal Stress resistance:
          p.g-skills-itm__val
            span People work with people

        li.g-skills-itm
          span.g-skills-itm__key.g-skills-itm__key_personal Responsible:
          p.g-skills-itm__val
            span I like complex and interesting projects

        li.g-skills-itm
          span.g-skills-itm__key.g-skills-itm__key_personal Communicative:
          p.g-skills-itm__val
            span I can explain complex things simply

    .g-skills-container
      h2.g-skills__title Hard skills / Tech skills and experience
      ul.g-skills-lst
        li.g-skills-itm
          span.g-skills-itm__key Languages:
          p.g-skills-itm__val
            span Typescript
            span Javascript

        li.g-skills-itm
          span.g-skills-itm__key Servers:
          p.g-skills-itm__val
            span NodeJS (koa, express etc.)
            span nginx

        li.g-skills-itm
          span.g-skills-itm__key DB/NoSQL:
          p.g-skills-itm__val
            span MongoDB
            span Redis
            span PostgreSQL

        li.g-skills-itm
          span.g-skills-itm__key JS frameworks:
          p.g-skills-itm__val
            span React (mobx, redux, flux)
            span VueJS
            span Angular1
            span Modern Angular

        li.g-skills-itm
          span.g-skills-itm__key VSC:
          p.g-skills-itm__val
            span git
            span svn

        li.g-skills-itm
          span.g-skills-itm__key Build tools:
          p.g-skills-itm__val
            span Webpack
            span Gulp
            span jss
            span post/pre processors
            span etc.

        li.g-skills-itm
          span.g-skills-itm__key CI/CD:
          p.g-skills-itm__val
            span Bamboo
            span Jenkins
            span Travis

        li.g-skills-itm
          span.g-skills-itm__key Task managers:
          p.g-skills-itm__val
            span Jira
            span Confluence
            span etc.

        li.g-skills-itm
          span.g-skills-itm__key Deployment:
          p.g-skills-itm__val
            span AWS
            span Docker
            span Heroku
            span mLab
            span etc.

        li.g-skills-itm
          span.g-skills-itm__key OS:
          p.g-skills-itm__val
            span linux (prefer debian based dists)
