section.g-skills
  .g-main-middle

    .g-skills-container
      h2.g-skills__title Primary technical skills
      ul.g-skills-lst
        li.g-skills-itm
          span.g-skills-itm__key Languages:
          p.g-skills-itm__val
            span Typescript
            span Javascript
            span HTML, CSS

        li.g-skills-itm
          span.g-skills-itm__key JS frameworks:
          p.g-skills-itm__val
            span React (mobx, redux, flux)
            span VueJS
            span Angular1
            span Modern Angular

        li.g-skills-itm
          span.g-skills-itm__key VSC:
          p.g-skills-itm__val
            span git
            span svn

        li.g-skills-itm
          span.g-skills-itm__key Build tools:
          p.g-skills-itm__val
            span Webpack
            span Gulp
            span jss
            span post/pre processors
            span etc.

        li.g-skills-itm
          span.g-skills-itm__key Servers:
          p.g-skills-itm__val
            span NodeJS (koa, express etc.)
            span nginx

        li.g-skills-itm
          span.g-skills-itm__key OS:
          p.g-skills-itm__val
            span linux (debian based)

        li.g-skills-itm
          span.g-skills-itm__key Task managers:
          p.g-skills-itm__val
            span Jira
            span Confluence
            span Slack
            span etc.

    .g-skills-container
      h2.g-skills__title Secondary technical skills
      ul.g-skills-lst
        li.g-skills-itm
          span.g-skills-itm__key CI/CD:
          p.g-skills-itm__val
            span Gitlab
            span AWS
            span Docker
            span Jenkins

        li.g-skills-itm
          span.g-skills-itm__key DB/NoSQL:
          p.g-skills-itm__val
            span MongoDB
            span Redis
            span PostgreSQL
