section.g-study
  .g-main-middle
    .g-study-cont
      .g-study-courses
        h2.g-study-courses__title Taken courses

        ul.g-study-courses-lst
          li.g-study-courses-itm learn.javascript.ru - Course on TypeScript
          li.g-study-courses-itm learn.javascript.ru - Course on Angular.js
          li.g-study-courses-itm learn.javascript.ru - Course on Node.js
          li.g-study-courses-itm learn.javascript.ru - Course on React.js
          li.g-study-courses-itm Specialist - MySQL 5. Designing and creating databases for Web
          li.g-study-courses-itm Specialist - PHP. Level 3. Professional development
          li.g-study-courses-itm Specialist - PHP. Level 2. Web-sites development
          li.g-study-courses-itm Specialist - РНР. Level 1. Web-development fundamentals

      .g-study-books
        h2.g-study-books__title The last read books

        ul.g-study-books-lst
          li.g-study-books-itm Kristina Chodorow - MongoDB: The Definitive Guide, Second Edition
          li.g-study-books-itm Balachander Krishnamurthy - Web Protocols and Practice
          li.g-study-books-itm Scott Chacon - Pro Git, Second Edition
          li.g-study-books-itm Stoyan Stefanov - JavaScript Patterns
          li.g-study-books-itm Thomas Cormen - Introduction to Algorithms, Third Edition
