section.g-study
  .g-main-middle
    .g-study-cont
      .g-study-courses
        h2.g-study-courses__title The 5 last taken courses

        ul.g-study-courses-lst
          li.g-study-courses-itm slurm.io/mega - Practice with Kubernetes
          li.g-study-courses-itm learn.javascript.ru - Course on VueJS
          li.g-study-courses-itm learn.javascript.ru - Course on TypeScript
          li.g-study-courses-itm learn.javascript.ru - Course on Angular.js
          li.g-study-courses-itm learn.javascript.ru - Course on Node.js
          li.g-study-courses-itm learn.javascript.ru - Course on React.js

      .g-study-books
        h2.g-study-books__title The 5 last read books

        ul.g-study-books-lst
          li.g-study-books-itm Andrew Troelsen - Pro C# 7: With .NET and .NET Core
          li.g-study-books-itm Chezarini Franchesko - Programming Erlang
          li.g-study-books-itm Kristina Chodorow - MongoDB: The Definitive Guide, Second Edition
          li.g-study-books-itm Thomas Cormen - Introduction to Algorithms, Third Edition
          li.g-study-books-itm Stoyan Stefanov - JavaScript Patterns
          li.g-study-books-itm Balachander Krishnamurthy - Web Protocols and Practice
