header.g-welcome(data-goto-area="top")
  .g-welcome-display
    h1.g-welcome-display__title Head of development team
    h3.g-welcome-display__desc A creative team must have the time, space, and budget to make mistakes

    a.g-welcome-display-details(href="#about" data-goto-link="about")
      span.g-welcome-display-details__txt Read more
      svg.g-welcome-display-details__icn
        use(xlink:href=getSvgIcon("down"))
