header.g-welcome(data-goto-area="top")
  .g-welcome-display
    h1.g-welcome-display__title Full stack developer
    h3.g-welcome-display__desc I develop web applications in Javascript/Node.js

    a.g-welcome-display-details(href="#about" data-goto-link="about")
      span.g-welcome-display-details__txt Read more
      svg.g-welcome-display-details__icn
        use(xlink:href=getSvgIcon("down"))
