section.g-works(data-goto-area="experience")
  .g-main-middle
    h2.g-works__title Experience

    ul.g-works-lst
      li.g-works-itm
        p.g-works-itm__job Frontend teamlead
        p.g-works-itm__company sletat.ru
        p.g-works-itm__time August 2016 - today

      li.g-works-itm
        p.g-works-itm__job Web developer
        p.g-works-itm__company T.T. Consulting
        p.g-works-itm__time January 2016 - August 2016

      li.g-works-itm
        p.g-works-itm__job Web developer
        p.g-works-itm__company freelance
        p.g-works-itm__time February 2014 - November 2015
