section.g-works(data-goto-area="experience")
  .g-main-middle
    h2.g-works__title Work experience

    ul.g-works-lst
      li.g-works-itm
        p.g-works-itm__job Development team leader
        p.g-works-itm__company sletat.ru / SLT team
        p.g-works-itm__time January 2019 - October 2019

      li.g-works-itm
        p.g-works-itm__job Front-end team leader
        p.g-works-itm__company sletat.ru / SLT team
        p.g-works-itm__time May 2017 - January 2019

      li.g-works-itm
        p.g-works-itm__job JS developer
        p.g-works-itm__company sletat.ru / letsfly / module / intelocate (canadian project)
        p.g-works-itm__time August 2016 - May 2017

      li.g-works-itm
        p.g-works-itm__job Front-end developer
        p.g-works-itm__company T.T. Consulting
        p.g-works-itm__time January 2016 - August 2016

      li.g-works-itm
        p.g-works-itm__job Web-developer
        p.g-works-itm__company freelance
        p.g-works-itm__time February 2014 - November 2015
