clearfix()
  &::after
    content: ""
    display: table
    clear: both

base-section()
  padding: (30/16)rem

  &__title
    font-size: (24/16)rem
    line-height: 1
    font-weight: bold
    margin-bottom: (20/16)rem
