section.g-footer
  .g-main-middle
    p.g-footer__copy &copy; Selkin Vitaly, <script>document.write(new Date().getFullYear());</script>
    p.g-footer__sources Powered by <a target="_blank" href="https://nodejs.org">Node.js</a> &amp; <a target="_blank" href="#">Sources</a>
