section.g-projects
  .g-main-middle
    h2.g-projects__title Projects

    ul.g-projects-lst

      li.g-projects-cell
        a.g-projects-itm(href="#dimsalon" data-project-target="dimsalon")
          p.g-projects-itm-prev
            img.g-projects-itm-prev__img(src="assets/img/content/projects/dimsalon/preview.svg" alt="")

          .g-projects-itm-over
            p.g-projects-itm-over__name Dimsalon - Website for a beauty salon

      li.g-projects-cell
        a.g-projects-itm(href="#mailer" data-project-target="mailer")
          p.g-projects-itm-prev
            img.g-projects-itm-prev__img(src="assets/img/content/projects/mailer/preview.jpg" alt="")

          .g-projects-itm-over
            p.g-projects-itm-over__name Mailer - SPA Angular application

      li.g-projects-cell
        a.g-projects-itm(href="#itemstock" data-project-target="itemstock")
          p.g-projects-itm-prev
            img.g-projects-itm-prev__img(src="assets/img/content/projects/itemstock/preview.svg" alt="")

          .g-projects-itm-over
            p.g-projects-itm-over__name ItemStock - Sport shop nutrition

      li.g-projects-cell
        a.g-projects-itm(href="#knowledge" data-project-target="knowledge")
          p.g-projects-itm-prev
            img.g-projects-itm-prev__img(src="assets/img/content/projects/knowledge/preview.svg" alt="")

          .g-projects-itm-over
            p.g-projects-itm-over__name KnowLedge - News portal
