section.g-works(data-goto-area="experience")
  .g-main-middle
    h2.g-works__title Experience

    ul.g-works-lst
      li.g-works-itm
        p.g-works-itm__job Front End Developer
        p.g-works-itm__company T.T. Consulting
        p.g-works-itm__time January 2016 - today

      li.g-works-itm
        p.g-works-itm__job Web Developer
        p.g-works-itm__company Pifagor
        p.g-works-itm__time February 2014 - November 2015
